//母雞的一生
.henLife {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    background-size: cover;
    left: 80vw;
    top: -570px;
    width: 640px;
    height: 610px;
    background-image: url(../img/chicken/chicken06.png);
    transform: rotate(0deg);
  }

  small {
    color: $-mainColor2;
  }
}

//母雞的一生 輪播
.henLifeSwiper{
  @extend %mwSm;
}
.henLifeSwiper .rightTxt {
  width: 80%;
  margin: 0 50px;
  padding: 30px 30px 160px 30px;
  position: relative;

  .swiper-slide {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

    > div {
      min-height: 230px;
      padding: 20px;
      border-radius: 40px;
      background-color: $-mainColor5;
      width: 100%;
      height: 100%;
      border: 2px solid $-mainColor3;
    }

    p {
      color: $-mainColor2;
      line-height: 1.8;
      letter-spacing: 1.5px;
      position: relative;
      font-size: 1.1rem;

      strong {
        display: block;
        text-align: center;
        color: $-mainColor3;
        font-size: $size30;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      left: -10px;
      top: 15px;
      width: 100%;
      height: 100%;
      border: 1px solid $-mainColor1;
      border-radius: 40px;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 35%;
  }
  //左右按鈕顏色、$paginationColor、$paginationActiveColor
  @include swiperSet($-mainColor1, $-mainColor4, $-mainColor3);
  .henLife-pagination {
    bottom: 100px !important;
  }
  .henLifeList-pagination span {
    position: relative;

    & + span::after {
      content: '';
      display: block;
      position: absolute;
      right: 8px;
      top: 3px;
      width: 20px;
      height: 2px;
      background-color: $-mainColor4;
    }
  }
  .moreBtnBox {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    .moreBtn {
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 959px) {
  .henLife {
    &::after {
      display: none;
    }
  }

  .henLifeSwiper .rightTxt {
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 599px) {
}
